:root {
  --yellow: #f5d23b;
  --red: #f44d71;
  --background: #f9e7c0;
  --shapes: #2f3035;
  --text-title: #f9e7c0;
  --text: #fc8b3e;
  --text-light: #2f3035;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 16px "Poppins", Arial, sans-serif;
  color: #f9e7c0;
}

input,
textarea {
  font-family: "Poppins";
}

.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 2.5rem 1rem;
}

button,
.checkmark {
  cursor: pointer;
}
