header.header {
  background-image: linear-gradient(
    30deg,
    #f44d71 12.5%,
    #fc8b3e 12.5%,
    #fc8b3e 25%,
    #f7a937 25%,
    #f7a937 37.5%,
    #f9d53d 37.5%,
    #f9d53d 50%,
    #f44d71 50%,
    #f44d71 62.5%,
    #fc8b3e 62.5%,
    #fc8b3e 75%,
    #f7a937 75%,
    #f7a937 87.5%,
    #f9d53d 87.5%,
    #f9d53d 100%
  );
  padding-top: 2rem;

  > div {
    max-width: 1120px;
    margin: 0 auto;

    padding: 2rem 1rem 12rem;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}
